@font-face {
    font-family: DIN;
    src: url("./fonts/D-DIN.otf");
}

body {
  background-color: purple;
  color: white;
  font-family: DIN;
  max-width: 1440px;
  max-height: 900px;
  margin: 0;
}

.a {
  color: white;
}


.flex-row {
  display: flex;
  flex-flow: row;
  flex-wrap: nowrap;
  justify-content: space-between;

}

.flex-column {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

/* hero */
.hero {
  background-color: purple;
  max-height: 700px;
  max-width: 1440px;
}

.header {
  width: 90%;
  margin: 10px;
}

.headline {
  font-size: 150px;
  text-align: center;
  margin: 40px;
}



/* menu w/ transition */

#menu {
  background-color: blue;
  height: 900px;

  /* Menu anchored by top-right orner */
  position: fixed;
  right: 0;
  top: 0;

  /* hover over rest of content */
  z-index: 3;

  width: 0; /* initially hidden */
  transition: width 1s;

}

/* show menu by increasing its width from 0 */
#menu.show {
  width: 700px;
}

#menu-close {
  margin-top: 26px;
  margin-right: 40px;
  border: 1px solid white;
  height: 45px;
  width: 45px;
  padding: 15px

}

#menu-close a {
  margin: auto;
}

#menu-list {
  list-style: none;
}

#menu-list li {
  font-size: 20px;
  padding: 10px;
}


/* description w/ transition */
#description {
  background-color: black;
  padding: 40px;
  height: 120px;
  /* => total height = 200px */
}

#description-cover {
  /* slide down 200px to uncover description */
  background-color: purple;
  height: 200px;

  position: relative;
  top: -200px;
  transition: top 1s;
}

#description-cover.show {
  top: 0;
}
